.date-current {
  align-items: center;
  color: rgba(255, 255, 255, .63);
  display: flex;
  font-size: 18px;
  font-size: 16px;
  justify-content: center;
  margin-top: -30px;

  &__text {
    opacity: 0;
    transform: translateY(-50px);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1), opacity .3s .1s ease-out;
    will-change: opacity, transform;
  }

  &__text.animate-in {
    opacity: 1;
    transform: translateY(20px);
  }
}
