@import './ray';

:root {
  --circle-radius: 100px;
  --ray-thickness: 6px;
  --base-color: #fff;
}

.loader {
  color: var(--base-color);
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity .3s ease-out;
  will-change: opacity;

  &.animate-out {
    opacity: 0;
  }

  &__circle {
    border: 6px solid;
    border-radius: var(--circle-radius);
    height: var(--circle-radius);
    margin: 0 auto;
    width: var(--circle-radius);
    position: relative;
  }
}
