@import './ray';

:root {
  --circle-radius: 35px;
  --ray-thickness: 4px;
  --base-color: #fff;
}

.loader {
  color: var(--base-color);
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity .3s ease-out;
  will-change: opacity, transform;

  &.animate-out {
    opacity: 0;
  }

  &__circle {
    border: 3px solid;
    border-radius: var(--circle-radius);
    height: var(--circle-radius);
    margin: 0 auto;
    width: var(--circle-radius);
    position: relative;
    transform: translateY(-50px);
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity .3s ease-out;
    opacity: 0;
  }

  &__circle.animate-in {
    opacity: 1;
    transform: translateY(0);
  }
}

.start-rotation {
  animation: rotation 1s linear infinite normal both;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}
