.forecast {
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, .25);
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform .3s cubic-bezier(.165, .84, .44, 1);
  width: 60px;

  &.animate-in {
    transform: scaleY(1);
  }

  &:last-child {
    border-right: 0;
  }

  &__icon {
    height: 40px;
    width: 40px;
  }

  &__title {
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  &__temperature,
  &__icon,
  &__title {
    opacity: 0;
    transform: translateY(-20px);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1), opacity .3s ease-out;
  }

  &__temperature .temperature__unit-dot {
    border: 1px solid;
    display: inline-block;
    height: 2px;
    margin-left: 2px;
    margin-top: 4px;
    position: absolute;
    width: 2px;
  }

  &__title.animate-in,
  &__icon.animate-in,
  &__temperature.animate-in {
    opacity: 1;
    transform: translateY(0);
  }
}
