.current-condition {
  text-align: center;
}

.temperature {
  align-items: center;
  display: flex;
  justify-content: center;
}

.temperature__value {
  font-size: 196px;
  opacity: 0;
  transform: translateY(40px);
  transition: transform .3s cubic-bezier(.175, .885, .32, 1.275), opacity .3s ease-out;
  will-change: transform, opacity;
}

.temperature__value.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.temperature__unit {
  display: flex;
  flex-direction: row;
  opacity: 0;
  transform: translateY(20px);
  transition: transform .3s cubic-bezier(.175, .885, .32, 1.275), opacity .3s ease-out;
  will-change: transform, opacity;
}

.temperature__unit.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.temperature__status {
  display: block;
  font-size: 24px;
  opacity: 0;
  position: absolute;
  text-align: center;
  transform: translateY(20px);
  transition: transform .3s cubic-bezier(.175, .885, .32, 1.275), opacity .3s ease-out;
  width: 100%;
  will-change: transform, opacity;
}

.temperature__status.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.temperature__unit .temperature__unit-dot {
  border-radius: 6px;
  height: 6px;
  margin-left: -9px;
  margin-top: -59px;
  position: absolute;
  width: 6px;
}

.temperature__unit-dot {
  border: 2px solid #ffffff;
  border-radius: 10px;
  height: 10px;
  width: 10px;
}

.temperature__unit-letter {
  font-size: 35px;
  font-weight: 100;
  margin-left: 7px;
  margin-top: -68px;
  position: absolute;
}
