.current-condition {
  text-align: center;
}

.temperature {
  align-items: center;
  display: flex;
  justify-content: center;

  &__status {
    display: block;
    font-size: 18px;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: translateY(20px);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1), opacity .3s ease-out;
    width: 100%;
    will-change: transform, opacity;
  }

  &__status.animate-in {
    opacity: 1;
    transform: translateY(-20px);
  }

  &__unit-dot {
    border: 2px solid #fff;
    border-radius: 10px;
    height: 10px;
    width: 10px;
  }

  &__unit .temperature__unit-dot {
    border-radius: 6px;
    height: 6px;
    margin-left: -9px;
    margin-top: -59px;
    position: absolute;
    width: 6px;
  }

  &__unit-letter {
    font-size: 35px;
    font-weight: 100;
    margin-left: 7px;
    margin-top: -68px;
    position: absolute;
  }

  &__value {
    font-size: 140px;
    opacity: 0;
    transform: translateY(40px);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1), opacity .3s ease-out;
    will-change: transform, opacity;
  }

  &__value.animate-in {
    opacity: 1;
    transform: translateY(0);
  }

  &__unit {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    opacity: 0;
    transform: translateY(20px);
    transition: transform .3s cubic-bezier(.165, .84, .44, 1), opacity .3s ease-out;
    will-change: transform, opacity;
  }

  &__unit.animate-in {
    opacity: 1;
    transform: translateY(30px);
  }
}
