.refresh {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  margin-top: -10px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 120px);

  &__time {
    color: rgba(255, 255, 255, .8);
  }

  .button-refresh {
    background-color: transparent;
    border: none;
    width: 35px;

    svg {
      fill: #fff;
    }
  }
}
