.refresh {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  margin-top: -10px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 120px);

  &__time {
    color: rgba(255, 255, 255, .8);
  }

  .button-refresh {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    width: 35px;
    will-change: transform;

    svg {
      fill: #fff;
    }
  }
}

.fetching {
  svg {
    animation: fetching .5s linear infinite normal both;
  }
}

@keyframes fetching {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
