.location {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.location__icon {
  fill: #ffffff;
  height: 26px;
  margin-right: 6px;
  opacity: 0;
  transform: translateY(-20px);
  transition: transform .3s cubic-bezier(.68, -.55, .265, 1.55), opacity .3s ease-out;
  will-change: transform;
}

.location__icon.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.location__icon svg {
  width: 14px;
}

.location__text {
  opacity: 0;
  transform: translateY(20px);
  transition: transform .3s cubic-bezier(.68, -.55, .265, 1.55), opacity .3s .1s ease-out;
  will-change: transform;
}

.location__text.animate-in {
  opacity: 1;
  transform: translateY(0);
}
