.navigation {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10px;
  width: 100%;
}

.navigation__dot {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 6px;
  height: 6px;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0;
  transform: translateY(-20px);
  transition: transform .3s cubic-bezier(.165, .84, .44, 1), opacity .3s ease-out;
  width: 6px;
}

.navigation__dot.animate-in {
  opacity: 1;
  transform: translateY(0);
}
