body {
  background-color: #ff656a;
  color: #ffffff;
  font-family: monospace;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.wrapper-temperature {
  margin-top: 60px;
  position: relative;
}

.forecasts {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.forecasts__scroll-panel {
  align-items: baseline;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 360px;
}

@media screen and (min-width: 768px) {
  #root {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .App {
    background-color: #ff656a;
    border-radius: 6px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .06);
    height: 667px;
    max-width: 375px;
    overflow-y: scroll;
  }
}
