
.rain {
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateY(-20px);
  transition: transform .3s cubic-bezier(.165, .84, .44, 1), opacity .3s ease-out;

  &.animate-in {
    opacity: 1;
    transform: translateY(0);
  }

  &__icon {
    height: 24px;
    width: 24px;
  }

  &__icon svg {
    width: 24px;
  }

  &__probability {
    font-size: 12px;
  }
}
