body {
  background-color: #ff656a;
  color: #ffffff;
  font-family: monospace;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.current-condition {
  text-align: center;
}

.current-condition__details {
  display: flex;
  justify-content: center;
}

.current-condition span {
  display: block;
}

.location {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.location__icon {
  fill: #ffffff;
  height: 26px;
  margin-right: 6px;
}

.location__icon svg {
  width: 14px;
}

.temperature {
  align-items: center;
  display: flex;
  justify-content: center;
}

.temperature__value {
  font-size: 196px;
}

.temperature__unit {
  display: flex;
  flex-direction: row;
}

.temperature__status {
  font-size: 24px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.temperature__unit .temperature__unit-dot {
  border-radius: 6px;
  height: 6px;
  margin-left: -9px;
  margin-top: -59px;
  position: absolute;
  width: 6px;
}

.temperature__unit-dot {
  border: 2px solid #ffffff;
  border-radius: 10px;
  height: 10px;
  width: 10px;
}

.temperature__unit-letter {
  font-size: 35px;
  font-weight: 100;
  margin-left: 7px;
  margin-top: -68px;
  position: absolute;
}

.wind {
  display: flex;
  flex-direction: column;
}

.wind > div {
  display: flex;
  flex-direction: row;
}

.wind__speed {
  align-items: center;
  display: flex;
  justify-content: center;
}

.wind__speed-icon svg {
  fill: #ffffff;
  width: 30px;
}

.wind__direction {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.wind__direction-icon svg {
  fill: #ffffff;
  width: 24px;
}

.wrapper-temperature {
  margin-top: 60px;
  position: relative;
}

.uv {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.uv__label {
  margin-right: 10px;
  text-transform: uppercase;
}

.uv > div {
  display: flex;
  flex-direction: row;
}

.forecast-hourly {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forecast-hourly__item {
  align-items: center;
  border-right: 1px solid #ffffff1c;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  width: 60px;
}

.forecast-hourly__item:last-child, .forecast-daily__item:last-child {
  border-right: 0;
}

.forecast-daily {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.forecast-daily__item {
  align-items: center;
  border-right: 1px solid #ffffff1c;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  width: 60px;
}

.forecast-hourly__item-hour {
  margin-bottom: 20px;
}


.forecast-hourly__item-temperature .temperature__unit-dot, .forecast-daily__item-temperature .temperature__unit-dot {
  border: 1px solid;
  display: inline-block;
  height: 2px;
  margin-left: 2px;
  margin-top: 4px;
  position: absolute;
  width: 2px;
}

.rain {
  align-items: center;
  display: flex;
  justify-content: center;
}

.rain__icon {
  height: 24px;
  width: 24px;
}

.rain__icon svg {
  fill: #ffffff;
  width: 24px;
}


.rain__probability {
  font-size: 12px;
}

.forecast-hourly__item img, .forecast-daily__item img {
  height: 40px;
  width: 40px;;
}

.forecast-daily__item-weekday {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.forecast-daily__item-temperature {
  margin-top: 0;
}

.forecast-daily__temperatures {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  #root {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .App {
    background-color: #ff656a;
    border-radius: 6px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .06);
    height: 667px;
    max-width: 375px;
    overflow-y: scroll;
  }
}


.forecasts {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.forecasts__scroll-panel {
  align-items: baseline;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 360px;
}

.navigation {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 60px;
  width: 100%;
}

.navigation-dot {
  background-color: #ff656a;
  border: 1px solid #ffffff;
  border-radius: 6px;
  height: 6px;
  margin-left: 4px;
  margin-right: 4px;
  width: 6px;
}
