body {
  background-color: #ff656a;
  color: #ffffff;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.current-condition {
  text-align: center;
}

.current-condition__details {
  display: flex;
  justify-content: center;
}

.current-condition span {
  display: block;
}

.location {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.location__icon {
  fill: #ffffff;
  height: 26px;
  margin-right: 6px;
}

.location__icon svg {
  width: 14px;
}

.temperature {
  align-items: center;
  display: flex;
  justify-content: center;
}

.temperature__value {
  font-size: 35vw;
}

.temperature__unit {
  display: flex;
  flex-direction: row;
}

.temperature__unit-dot {
  border: 2px solid #ffffff;
  border-radius: 10px;
  height: 10px;
  width: 10px;
}

.temperature__unit-letter {
  font-size: 20vw;
}

.wind {
  display: flex;
  flex-direction: column;
}

.wind > div {
  display: flex;
  flex-direction: row;
}

.wind__speed {
  align-items: center;
  display: flex;
  justify-content: center;
}

.wind__speed-icon svg {
  fill: #ffffff;
  width: 30px;
}

.wind__direction {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.wind__direction-icon svg {
  fill: #ffffff;
  width: 24px;
}

.wrapper-temperature {
  margin-top: 120px;
}

.uv {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.uv__label {
  margin-right: 10px;
  text-transform: uppercase;
}


.uv > div {
  display: flex;
  flex-direction: row;
}

.forecast-hourly {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 80px;
}

.forecast-hourly__item {
  align-items: center;
  border-right: 1px solid #ffffff1c;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  width: 60px;
}

.forecast-hourly__item:last-child, .forecast-daily__item:last-child {
  border-right: 0;
}

.forecast-daily {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
}

.forecast-daily__item {
  align-items: center;
  border-right: 1px solid #ffffff1c;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  width: 60px;
}

.forecast-hourly__item-hour {
  margin-bottom: 20px;
}


.forecast-hourly__item-temperature .temperature__unit-dot, .forecast-daily__item-temperature .temperature__unit-dot {
  border: 1px solid;
  display: inline-block;
  height: 2px;
  margin-left: 2px;
  position: absolute;
  width: 2px;
}

.rain {
  align-items: center;
  display: flex;
  justify-content: center;
}

.rain__icon {
  height: 24px;
  width: 24px;
}

.rain__icon svg {
  fill: #ffffff;
  width: 24px;
}


.rain__probability {
  font-size: 12px;
}

.forecast-hourly__item img, .forecast-daily__item img {
  height: 40px;
  width: 40px;;
}

.forecast-daily__item-weekday {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.forecast-daily__item-temperature {
  margin-top: 0;
}

.forecast-daily__temperatures {
  margin-top: 20px;
}
